body,html{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-family:'Lato';
	color: #545454;
	line-height:1.68;
}

#main{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

#sidebar{
	position:fixed;
	top:0;
	left:0;
	width: 133px;
	font-family: Verdana;
	height:100%;
	background-color: #101010;
	z-index:1000;
}

#content{
	padding: 34px;
	padding-left: 176px; /* 377 + 34 */
	top:0;
	left:0;
	box-sizing: border-box;
	width:100%;
	min-height:100%;
}

.container-fluid{
	width:100%;
}

#sidebar #logo{
	height:89px;
	line-height: 9px;
	font-size: 14px;
	background-color: #252525;
	/* border: 1px solid #E7E7E7; */
	color: white;
	font-family: Verdana;
	text-align: center;
}

#logo img{
	width:90px;
	margin-top: 29px;
}

#logo div{
	text-align:left;
	padding-left:21px;
	font-size: 10px;
}

#sidebar #menu{
	margin-top: 20px;
	padding-bottom: 34px;
}

#sidebar #logout{
	position: fixed;
	left:0;
	bottom:0;
	width: 133px;
}

#sidebar ul,
#sidebar li,
#sidebar li a{
	margin:0;
	padding:0;
	list-style:none;
}

#sidebar li a{
	display:block;
	padding:0 21px;
	line-height: 27px;
	font-size: 10px;
	color: #555555;
	text-decoration:none;
}

#sidebar li a:hover{
	background-color: #fd9d9d;
	color: #ffffff;
}

#sidebar li a:active,
#sidebar li a.active{
	background-color: #282828;
	color: #fd9d9d;
}

#loader{
	display:none;
	z-index:100;
	width:100%;
	height:100%;
	background-color:rgba(255,255,255,0.8);
	background-image:url(../images/loaderfaster.gif);
	background-position:center center;
	background-repeat:no-repeat;
	transition:opacity 0.2s;
	opacity:0;
	position:fixed;
	top:0;
	left:0;
}

#loader.on{
	display:block;
	opacity:1;
}