<div class="col-md-12">

  <h1 id="job-posting-data">Job posting data</h1>
  <p>The current job-posting data is accessible via a <strong>JSON REST-API</strong>. The next section will explain about API endpoints to be used in your application.</p>
  <p>All data can be accessed using the following prefix:</p>

  <pre class="language-bash"><code>http://app.bridestory.com/testapp/api</code></pre>
  
  <p>Since this is the API prefix, the rest of endpoints in this document will use this url as a prefix.</p>

  <h3 id="job-posts">Job Posts</h3>
  <pre><code>GET /jobs HTTP/1.1</code></pre>

  <p>This will retrieve all the job-posting data available in the system. </p>


  <h3 id="job">Job</h3>
  <pre><code>GET /job/id HTTP/1.1</code></pre>
  <p>This will retrieve a job-posting data based on the <code>id</code> parameter.</p>

  <h3 id="new-job">New Job</h3>
  <pre><code>POST /job HTTP/1.1
Content-Type: application/x-www-form-urlencoded</code></pre>
  <p>To post a new job, do a POST request to the endpoint with the following data:</p>

  <table class="table">
  <thead>
  <tr>
    <th>Field</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody><tr>
    <td>title</td>
    <td>String</td>
    <td>The Job Posting title</td>
  </tr>
  <tr>
    <td>description</td>
    <td>String</td>
    <td>The Job Posting description</td>
  </tr>
  <tr>
    <td>department</td>
    <td>Int</td>
    <td>Department ID</td>
  </tr>
  <tr>
    <td>openings</td>
    <td>Int</td>
    <td>Number of openings available for the job post (number of employee needed)</td>
  </tr>
  <tr>
    <td>reviewer</td>
    <td>String</td>
    <td>email address of reviewer, multiple email should be separated by a new line ( <code>\n</code> )</td>
  </tr>
  <tr>
    <td>closing</td>
    <td>String</td>
    <td>Job-post closing date in the following format: <code>YYYY-MM-DD</code></td>
  </tr>
  <tr>
    <td>location</td>
    <td>Int</td>
    <td>Location ID where the job is available</td>
  </tr>
  </tbody></table>


  <h3 id="update-a-job">Update a Job</h3>
  <pre><code>PUT /job/id HTTP/1.1
Content-Type: application/x-www-form-urlencoded</code></pre>
  <p>The PUT endpoint works like the POST endpoint (It uses the same fields). Just add the job-posting ID in the url, and do a PUT request instead of POST. The job-post with that specific ID will be updated.</p>

  <h3 id="delete-a-job">Delete a Job</h3>
  <pre><code>DELETE /job/id HTTP/1.1</code></pre>
  <p>By now, you should know what this means..</p>

  <h3 id="locations">Locations</h3>
  <pre><code>GET /locations HTTP/1.1</code></pre>
  <p>This will retrieve all Bridestory’s office locations. This is helpfull, because a job-posting is related to an office.</p>

  <h3 id="departments">Departments</h3>
  <pre><code>GET /departments HTTP/1.1</code></pre>

  <p>This will retrieve all Bridestory’s departments.</p>
</div>