<div class="col-md-12">
    <h1 id="bridestory-testcase">Bridestory testcase</h1>

    <p>The test is to create an application.</p>
    <p>You will create an application with the skeleton used in our development process.</p>
    <hr>

    <h2 id="the-requirement">The Requirement</h2>
    <p>Create a job-posting application to be used by the internal HR employee. This is a hypothetical application. We will not use your application. </p>
    <p>Your goal is to create the <strong>Job-Posting Management</strong> module. HR employees need to manage job-posts. So, you will have to create an app that enables them to view, create, update and delete a job-posts.</p>

    <h2 id="the-expected-result">The Expected Result</h2>
    <p>Your are expected to deliver the result in the form of codes in a <strong>git</strong> repository. You can use any <strong>git</strong> repo provider, such as <em>github</em>, <em>bitbucket</em>, or <em>gitlab</em>.</p>
    <p>Send the git url to <a href="mailto:tri.gunadi@bridestory.com">tri.gunadi@bridestory.com</a> <br>
    Make sure it’s a public repo, so the guy can download your code.</p>
    <p>The codes should be ready for use. We will test your result in a local file system.</p>

    <h2 id="Documentations">Documentations</h2>
    <p>To understand how this skeleton works, and kickstart your project, <a href="#docs">read the documentation</a></p>

    <hr>
    <p>Thanks for applying and we’ll be waiting for your results.</p>
    <p>Cheers.. <br>
    Bridestory Information Team</p>
</div>