<div class="col-md-12">
  <h1>Documentation</h1>
  <p>
  	This is the documentation for the skeleton. This documentation will be 
  	divided into the following sections:
  </p>
  <ol>
  	<li><a href="#settings">Settings</a></li>
  	<li><a href="#creating-pages">Creating pages</a></li>
  	<li><a href="#components">Components &amp; Frameworks</a></li>
  </ol>
  <hr />

  <h2 id="settings">Settings</h2>
  <p>There are two kinds of settings you should worry about: <br>
  1. Application Settings <br>
  2. Router Settings</p>

  <h3 id="application-settings">Application Settings</h3>
  <p>You can see the application settings in <code>classes/Vars.php</code>. <br>
  This is a <code>php</code> settings. It will define the basic environment variables for the app, such as <code>$appName</code> and <code>$sessionName</code> .</p>
  <p>The below table explains about those variables</p>

  <table class="table">
  <thead>
  <tr>
    <th>Variable</th>
    <th>Meaning</th>
  </tr>
  </thead>
  <tbody><tr>
    <td>$supportmail</td>
    <td>This is for documentation purposes. Just put down your email.</td>
  </tr>
  <tr>
    <td>$token</td>
    <td>The application token. You shouldn’t worry about this for local development.</td>
  </tr>
  <tr>
    <td>$secret</td>
    <td>The application secret-token. You shouldn’t worry about this for local development.</td>
  </tr>
  <tr>
    <td>$appName</td>
    <td>This string will come up in the browser bar as your application name.</td>
  </tr>
  <tr>
    <td>$sessionName</td>
    <td>The session name for login mechanism.</td>
  </tr>
  <tr>
    <td>$sessionLife</td>
    <td>The session duration.</td>
  </tr>
  <tr>
    <td>$apiUrl</td>
    <td>The API endpoint used as PREFIX for AJAX calls called using the <code>App</code> library.</td>
  </tr>
  </tbody></table>

  <h3 id="router-settings">Router Settings</h3>
  <p>The router settings determine how your application response to the location #hash in the browser.  <br><br>
  You can set this behavior in <code>asset/js/routes.js</code>.</p>
  <p>Before reading about the <code>Router</code>, you should know that the router will fetch an HTML file located in the <code>pages</code> directory, upon a <code>hashchange</code> event.</p>
  <p>So, as a starter, open the <code>asset/js/routes.js</code> file in your editor. You will see some variable and functions have been wrote down.</p>
  <p>The first thing you see is the <em>default hash</em></p>



<pre class="prettyprint"><code class="language-javascript hljs "><span class="hljs-comment">// default page hash</span>
App.defaultHash = <span class="hljs-string">'#default'</span>;</code></pre>

  <p>The default hash will replace the browser’s hash when it’s empty.</p>
  <p>Another thing you will see, is a function being called. The <code>App.setRoute</code> function.</p>

<pre class="prettyprint"><code class="language-javascript hljs "><span class="hljs-comment">// hash routes</span>
App.setRoute({
    url: <span class="hljs-regexp">/^default$/</span>,
    page: <span class="hljs-string">'default.html'</span>
});</code></pre>

  <p>The <code>App.setRoute</code> function takes an Object as argument. the Object should consist of the following parameter</p>

  <table class="table">
  <thead>
  <tr>
    <th>Parameter</th>
    <th>Meaning</th>
  </tr>
  </thead>
  <tbody><tr>
    <td>url</td>
    <td>a regular expression that will be matched against <code>window.location.hash</code> on the <code>hashchange</code> event.</td>
  </tr>
  <tr>
    <td>page</td>
    <td>a file inside the <code>pages</code> directory that will be fetched upon a successful match.</td>
  </tr>
  <tr>
    <td>callback (optional)</td>
    <td>a function that will be run upon a hash match. This callback will replace the <code>page</code> parameter. So a call to the file will not be performed when <code>callback</code> parameter is around.</td>
  </tr>
  </tbody></table>

<pre class="prettyprint"><code class="language-javascript hljs "><span class="hljs-comment">// using callback example</span>
App.setRoute({
    url: <span class="hljs-regexp">/^ref$/</span>,
    callback: <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">()</span>{</span>
        <span class="hljs-comment">// do stuff</span>
    }
});</code></pre>

  <hr>
  <h2 id="creating-pages">Creating Pages</h2>

  <p>You have read about the <code>Router</code>. Now, i assume you already know about the <code>pages</code> directory. So, to create a new page:</p>
  <p>Set the Router with your prefered setting</p>

<pre class="prettyprint"><code class="language-javascript hljs ">App.setRoute({ url: <span class="hljs-regexp">/^hello$/</span>, page: <span class="hljs-string">'hello.html'</span> });</code></pre>

<p>
Create the <code>pages/hello.html</code> file, containing these strings.</p>
<pre class="prettyprint"><code class="language-html hljs "><span class="hljs-tag">&lt;<span class="hljs-title">b</span>&gt;</span>Hello<span class="hljs-tag">&lt;/<span class="hljs-title">b</span>&gt;</span> World</code></pre>

  <p>
  Browser to your <i>localhost</i>/<i>server</i> to see the effect.</p>

<pre class="prettyprint"><code class="language-html hljs ">http://localhost/testapp/#hello</code></pre>

  <p>That is an easy 3-step procedure.. i guess..</p>
  <br />
  <p>Now, you don't want your user to remember the URL. So, create a link in the menu by adding a link in <code>components/menu.php</code>
<pre class="prettyprint"><code class="language-html hljs ">&lt;li>&lt;a href="#hello">Hello World&lt;/a>&lt;/li></code></pre>

  <hr>

  <h2 id="components">Components &amp; Framework</h2>

  <p>We are using: <br>
  + <a href="https://api.jquery.com/">jQuery</a> <br>
  + <a href="http://getbootstrap.com/">Bootstrap 3</a> <br>
  + <a href="http://jquerymy.com/">jquerymy</a> <br>
  + <a href="http://handlebarsjs.com/">Handlebars</a></p>

  <p>You should read their documentations if you’re not familiar with them.</p>

  <p>There is also this other thing called <code>App</code>. It’s a Javascript Object that governs the application behavior in the browser. You can <a href="#ref">read <code>App</code> documentation reference</a>  to understand about this object.</p>

</div>