<div class="col-md-12">
  <h1 id="app">App</h1>

  <p>App is a global JavaScript Object. It can be used to govern your application behavior.</p>

  <p>This section will defined the <code>App</code> object. So, it will be divided into these subsections: <br>
  + <a href="#appapi">Api</a> <br>
  + <a href="#appevents">Events</a> <br>
  + <a href="#apppage">Page</a> <br>
  + <a href="#appdata">Data</a> <br>
  + <a href="#appui">UI</a></p>

  <hr>
  <h2 id="appapi">API</h2>

  <p>This is about the <code>App.api</code> function. It can be used to create AJaX request to the API server.</p>

  <pre class="prettyprint"><code class="language-javascript hljs ">App.api( <span class="hljs-built_in">String</span>:method, <span class="hljs-built_in">String</span>:url, <span class="hljs-built_in">Object</span>:data );
<span class="hljs-comment">/*
*  Return value: jQuery Ajax Object
*/</span></code></pre>

  <p>Since the function returns a jQuery Ajax Object, you can use the <code>defered</code> property to access their response values. Example:</p>

  <pre class="prettyprint"><code class="language-javascript hljs ">App.api(<span class="hljs-string">'put'</span>,<span class="hljs-string">'something'</span>,{data:<span class="hljs-string">'is something'</span>})
.done(<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(d)</span>{</span>
    <span class="hljs-comment">// d = server response</span>
})
.fail(<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(e)</span>{</span>
    <span class="hljs-comment">// e = jQuery ajax error object</span>
});</code></pre>



  <h3 id="api-prefix">API Prefix</h3>

  <p>By this point you should already know how to set the <code>API Prefix</code>. Ajax Request done using <code>App.api</code> function will always use <code>PREFIX + url</code> as request URL.</p>


  <h3 id="arguments">Arguments</h3>

  <p><code>App.api</code> can have 1, 2, or 3 numbers of arguments. Just look at the codes below:</p>

<pre class="prettyprint"><code class="language-javascript hljs "><span class="hljs-comment">// GET PREFIX + '/hello/world'</span>
App.api( <span class="hljs-string">'/hello/world'</span> );

<span class="hljs-comment">// DELETE PREFIX + '/something/3'</span>
App.api(<span class="hljs-string">'delete'</span>, <span class="hljs-string">'/something/3'</span> );</code></pre>
  <hr>

  <h2 id="appevents">Events</h2>

  <p>The <code>App.event</code> can be used to <em>listen</em> or <em>trigger</em> custom events. It does not listen to <code>window</code> or <code>document</code> event. It exists purely to prevent desperate endeavor such as <code>$('body').on('mycustomevent');</code> which will usually be paired with  <code>$('body').trigger('mycustomevent');</code>. Yes, there is a better way to introduce custom event without hooking it to an element. This is one of them.</p>



<pre class="prettyprint"><code class="language-javascript hljs ">App.event.on(<span class="hljs-string">'that.thing'</span>,<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(data)</span>{</span>
    console.log(data);
});

App.event.trigger(<span class="hljs-string">'that.thing'</span>,<span class="hljs-string">'helloworld'</span>);
<span class="hljs-comment">// helloworld</span></code></pre>


  <h3 id="namespacing">Namespacing</h3>

  <p>And, namespacing is supported</p>

<pre class="prettyprint"><code class="language-javascript hljs ">App.event.on(<span class="hljs-string">'that.thing'</span>,<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(data)</span>{</span> console.log(data); });
App.event.on(<span class="hljs-string">'that.stuff'</span>,<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(data)</span>{</span> console.log(<span class="hljs-string">'stuff'</span>); });
App.event.trigger(<span class="hljs-string">'that'</span>,<span class="hljs-string">'helloworld'</span>);
<span class="hljs-comment">// helloworld</span>
<span class="hljs-comment">// stuff</span></code></pre>

  <h3 id="off-switch">Off Switch</h3>



<pre class="prettyprint"><code class="language-javascript hljs ">App.event.on(<span class="hljs-string">'that.thing'</span>,<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(data)</span>{</span> console.log(data); });
App.event.on(<span class="hljs-string">'that.stuff'</span>,<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(data)</span>{</span> console.log(<span class="hljs-string">'stuff'</span>); });
App.event.off(<span class="hljs-string">'that.thing'</span>);
App.event.trigger(<span class="hljs-string">'that'</span>,<span class="hljs-string">'helloworld'</span>);
<span class="hljs-comment">// stuff</span></code></pre>


  <h3 id="predefined-events">Predefined Events</h3>

  <p>A few predefined events has been set up to easy up your life.</p>

  <table class="table">
  <thead>
  <tr>
    <th>Event</th>
    <th>Meaning</th>
  </tr>
  </thead>
  <tbody><tr>
    <td>hashchange</td>
    <td>The <code>window.location.hash</code> just changes</td>
  </tr>
  <tr>
    <td>hashload</td>
    <td>The <code>#hash</code> matches a Route, and is going to load the template (or run the callback)</td>
  </tr>
  <tr>
    <td>pageloaded</td>
    <td>Page has been loaded. This will not be triggered if you used <code>callback</code> in the router. You should trigger this yourself.</td>
  </tr>
  <tr>
    <td>pageloaderror</td>
    <td>Page load has errors. This event will deliver the jQuery ajax error as data</td>
  </tr>
  </tbody></table>


  <h2 id="apppage">Page</h2>

  <p>The <code>App.page</code> object manages the page. That’s it.</p>



<pre class="prettyprint"><code class="language-javascript hljs "><span class="hljs-comment">// will load /pages/home.html</span>
App.page.load(<span class="hljs-string">'home.html'</span>);
<span class="hljs-comment">/*
*   return a jQuery ajax object
*/</span>  </code></pre>



<pre class="prettyprint"><code class="language-javascript hljs "><span class="hljs-comment">// will set the page</span>
App.page.setContent( htmlString );</code></pre>

<pre class="prettyprint"><code class="language-javascript hljs "><span class="hljs-comment">// current hash</span>
App.page.hash;
<span class="hljs-comment">// same as window.location.hash</span>
<span class="hljs-comment">// but shorter.. ;/</span></code></pre>

  <h2 id="appdata">Data</h2>

  <p>There is always a reason to use global variable.. This time, there is none. Don’t use global variable. It cluters the window object, and not pretty to look at. Just DON’T.. EVER..</p>

  <p>Use <code>App.data</code> instead.</p>



<pre class="prettyprint"><code class="language-javascript hljs "><span class="hljs-comment">// will set 'Hello' : 'World'</span>
<span class="hljs-comment">// in the memory</span>
App.data(<span class="hljs-string">'Hello'</span>,<span class="hljs-string">'World'</span>);

console.log( App.data(<span class="hljs-string">'Hello'</span>) );
<span class="hljs-comment">// World</span></code></pre>


  <h2 id="appui">UI</h2>

  <p>The fun part.</p>


  <h3 id="">Loader</h3>

<pre class="prettyprint"><code class="language-javascript hljs "><span class="hljs-comment">// Turn On the loader</span>
App.ui.loader(<span class="hljs-literal">true</span>);

<span class="hljs-comment">// Turn Off the loader</span>
App.ui.loader(<span class="hljs-literal">false</span>);</code></pre>



  <h3 id="modal-dialogue">Modal dialogue</h3>



<pre class="prettyprint"><code class="language-javascript hljs ">App.ui.modal.ok( message );
App.ui.modal.error( message );
App.ui.modal.confirm( message, callback );
App.ui.modal.custom( opt );</code></pre>

  <p>The modal dialogue uses <a href="http://bootboxjs.com/">Bootbox</a> to display the modal boxes.  <a href="http://bootboxjs.com/documentation.html">Read their documentation</a> to display a custom modal dialogue.</p>
</div>